<main class="">
	<section class="my-auto mx-auto container flex items-center">
		<div class="w-48 border rounded-sm border-black px-6 py-9">
			<h1 class="py-6">Rajanan</h1>
			<div class="border border-black py-6">LinkenIn</div>
			<div class="border border-black py-6">Github</div>
			<div class="border border-black py-6">Email</div>
			<div class="border border-black py-6">PortFolio</div>
		</div>
	</section>
</main>
