---
import Link from '@components/astro/atoms/link/Link.astro';
const nav = [
	{
		title: 'Expériences',
		href: '/experiences'
	},
	{
		title: 'Projets',
		href: '/projets'
	}
	// {
	//   title: 'FAQ',
	//   href: '/faq'
	// }
];
---

<header class="w-full text-gray-700 bg-white shadow-sm body-font">
	<div class="container flex justify-between p-6 mx-auto">
		<h1 class="mb-2 font-bold md:mb-0">Rajanan.dev</h1>
		<nav class="flex text-base md:ml-auto">
			{nav.map((item) => <Link {...item} />)}
		</nav>
	</div>
</header>
