---
import Link from '@components/astro/atoms/link/Link.astro';
const nav = [
	{
		title: 'Expériences',
		href: '/experiences'
	},
	{
		title: 'Projets',
		href: '/projets'
	}
	// {
	//   title: 'FAQ',
	//   href: '/faq'
	// }
];
---

<header class="mb-5 border-b border-stone-300 bg-white/70 text-stone-900 shadow-sm">
	<div class="container mx-auto flex justify-between p-6">
		<h1 class="mb-2 font-bold md:mb-0"><a href="/">Rajanan.dev</a></h1>
		<nav class="flex text-base md:ml-auto">
			{nav.map((item) => <Link {...item} />)}
		</nav>
	</div>
</header>
