---
import type { CollectionEntry } from 'astro:content';

const { title, details = [] } = Astro.props;

interface Props {
	title: string;
	details: CollectionEntry<'experience'>[];
}

const detailsReversed = details.sort(
	(a: CollectionEntry<'experience'>, b: CollectionEntry<'experience'>) =>
		b.data.number - a.data.number
);
---

<section class="flex flex-col md:flex-row items-start mt-28 mx-5 md:mx-0">
	<h2 class="w-60 mt-5 font-bold text-xl">{title}</h2>
	<div class="flex flex-col w-full">
		{
			detailsReversed.map(async (detail) => {
				const { Content } = await detail.render();
				return (
					!detail.data.hidden && (
						<article class="my-5">
							<div class="flex flex-row justify-between">
								<h3 class="font-bold text-xl">{detail.data.post}</h3>
								<p class="text-sm italic text-gray-700">
									{detail.data.startDate} {detail.data.endDate ? '-' : ''} {detail.data.endDate}
								</p>
							</div>
							<Content />
						</article>
					)
				);
			})
		}
	</div>
</section>
