@import url('fonts.css');

body {
	background: url('/symbols.svg');
	background-color: #0b192c;
}

strong {
	color: white !important;
}

.mainSection {
	background: linear-gradient(
		rgba(11, 25, 44, 1) 0%,
		rgba(11, 25, 44, 1) 33%,
		rgba(11, 25, 44, 0.75) 66%,
		rgba(11, 25, 44, 0) 100%
	);
}

.mainButton:hover {
	background-image: linear-gradient(
		to right bottom,
		#5b80e5,
		#b671d1,
		#e867a9,
		#fb707d,
		#f38856,
		#ec8d45,
		#e39433,
		#d69b1f,
		#e08b00,
		#ea7700,
		#f56000,
		#ff3e00
	);
}

.xp {
	background-image: linear-gradient(to right bottom, #f8c24a, #f5b73b, #f3ac2c, #f0a01a, #ee9400);
}

.radient-blue:hover {
	background-image: linear-gradient(to right bottom, #0f74cf, #1068c5, #145cbb, #1a4fb1, #1f43a6);
}

.react {
	background-image: linear-gradient(to right bottom, #0f74cf, #1068c5, #145cbb, #1a4fb1, #1f43a6);
}
.svelte {
	background-image: linear-gradient(to right bottom, #fb9371, #fe8159, #ff6e41, #ff5826, #ff3e00);
}
.node {
	background-image: linear-gradient(to right bottom, #97dc81, #86ce6f, #76c15e, #65b34c, #54a63a);
}
.typescript {
	background-image: linear-gradient(to bottom, #47aef4, #47acef, #48a9ea, #48a7e6, #49a4e1);
}

.chevron {
	position: absolute;
	rotate: -90deg;
	color: #f97316;
}

.chevron-supp-animation {
	animation: 1s ease-out 0s 1 chevron-supp;
}

.chevron-inf-animation {
	animation: 1s ease-out 0s 1 chevron-inf;
}

@keyframes chevron-supp {
	0% {
		transform: translateY(-8px);
		color: #4f2203;
	}
	100% {
		transform: translateY(0);
		color: #f97316;
	}
}

@keyframes chevron-inf {
	0% {
		transform: translateY(8px);
		color: #4f2203;
	}
	100% {
		transform: translateY(0);
		color: #f97316;
	}
}
