---
import { info } from '@data';
---

<section class="mt-16 mx-5 md:mx-0">
	<h1 class="font-bold text-xl">{info.fullName}</h1>
	<p>
		<b class="bionic-b bionic">J</b>e <b class="bionic-b bionic">s</b>uis <b class="bionic-b bionic"
			>u</b
		>n <b class="bionic-b bionic">dév</b>eloppeur <b class="bionic-b bionic">f</b>ull <b
			class="bionic-b bionic">st</b
		>ack <b class="bionic-b bionic">a</b>vec 4 <b class="bionic-b bionic">a</b>ns <b
			class="bionic-b bionic">d'e</b
		>xpérience <b class="bionic-b bionic">d</b>ans <b class="bionic-b bionic">l</b>a <b
			class="bionic-b bionic">cr</b
		>éation <b class="bionic-b bionic">d'ap</b>plications <b class="bionic-b bionic">w</b>eb. <b
			class="bionic-b bionic">M</b
		>a <b class="bionic-b bionic">spéc</b>ialisation <b class="bionic-b bionic">e</b>n <b
			class="bionic-b bionic">Re</b
		>act.js, <b class="bionic-b bionic">No</b>de.js <b class="bionic-b bionic">e</b>t <b
			class="bionic-b bionic">l</b
		>es <b class="bionic-b bionic">la</b>ngages <b class="bionic-b bionic">ess</b>entiels <b
			class="bionic-b bionic">t</b
		>els <b class="bionic-b bionic">q</b>ue <b class="bionic-b bionic">Jav</b>aScript, <b
			class="bionic-b bionic">H</b
		>TML <b class="bionic-b bionic">e</b>t <b class="bionic-b bionic">C</b>SS <b
			class="bionic-b bionic">m</b
		>'a <b class="bionic-b bionic">pe</b>rmis <b class="bionic-b bionic">d</b>e <b
			class="bionic-b bionic">cr</b
		>éer <b class="bionic-b bionic">d</b>es <b class="bionic-b bionic">int</b>erfaces <b
			class="bionic-b bionic">int</b
		>eractives <b class="bionic-b bionic">e</b>t <b class="bionic-b bionic">est</b>hétiques. <b
			class="bionic-b bionic">M</b
		>on <b class="bionic-b bionic">pa</b>rcours <b class="bionic-b bionic">m</b>'a <b
			class="bionic-b bionic">mo</b
		>tivé à <b class="bionic-b bionic">re</b>ster <b class="bionic-b bionic">con</b>stamment à <b
			class="bionic-b bionic">l'</b
		>affût <b class="bionic-b bionic">d</b>es <b class="bionic-b bionic">de</b>rnières <b
			class="bionic-b bionic">av</b
		>ancées <b class="bionic-b bionic">tech</b>nologiques, <b class="bionic-b bionic">ali</b>mentant

		<b class="bionic-b bionic">ai</b>nsi <b class="bionic-b bionic">m</b>a <b
			class="bionic-b bionic">pa</b
		>ssion <b class="bionic-b bionic">p</b>our <b class="bionic-b bionic">l</b>e <b
			class="bionic-b bionic">dév</b
		>eloppement <b class="bionic-b bionic">e</b>t <b class="bionic-b bionic">m</b>e <b
			class="bionic-b bionic">po</b
		>ussant à <b class="bionic-b bionic">re</b>pousser <b class="bionic-b bionic">l</b>es <b
			class="bionic-b bionic">li</b
		>mites.
	</p>
</section>
