---
import BaseHead from '@components/organisms/BaseHead.astro';
import Footer from '@components/organisms/Footer.astro';
import Header from '@components/organisms/Header.astro';
const { image, title, description = 'SITE_DESCRIPTION' } = Astro.props;
import '@styles:index.css';
---

<!doctype html>
<meta charset="utf-8" />
<html lang="fr">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body class="relative">
		<main class="container mx-auto flex max-w-6xl justify-center pt-10">
			<slot />
		</main>
		<Footer />
	</body>
</html>
