---
import type { GetStaticPaths } from 'astro';
import MainLayout from '@layouts/MainLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import XpLayout from '@layouts/XpLayout.astro';

export const getStaticPaths = (async () => {
	const experience: CollectionEntry<'experience'>[] = await getCollection('experience');

	return experience.map((post: any) => ({
		params: { slug: post.slug },
		props: post
	}));
}) satisfies GetStaticPaths;

const { Content } = await Astro.props.render();
const t = Astro.props;
---

<MainLayout>
	<XpLayout title={t.data.post}>
		<div class="flex justify-center">
			<div class="prose">
				<Content />
			</div>
		</div>
	</XpLayout>
</MainLayout>
