---
import Hero from '@components/astro/features/landingPage/Hero.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import Card from '@components/astro/atoms/Card.astro';
import Project from '@components/astro/features/landingPage/Project.astro';
import Books from '@components/astro/features/landingPage/Books.astro';
import Experience from '@components/astro/features/landingPage/Experience.astro';
---

<BaseLayout>
	<article class="flex flex-col gap-16 p-16">
		<section class="relative flex max-w-3xl items-center">
			<div
				class="mainSection absolute -left-44 -top-[360px] -z-40 h-[880px] w-[880px] rounded-full"
			>
			</div>
			<Hero />
		</section>
		<section class="rounded-2xl bg-[#14213D] px-6 py-4">
			<Experience />
		</section>
		<!-- <Card colSpan="col-span-4 md:col-span-5 lg:col-span-3 row-span-3">
		</Card>
		<Card colSpan="col-span-4 row-span-3 md:row-span-3 lg:row-span-3">
			<Project />
		</Card>
		<Card colSpan="col-span-2 row-span-3">
			<Books />
		</Card> -->
	</article>
</BaseLayout>
