---
import Hero from '@components/astro/features/landingPage/Hero.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import Card from '@components/astro/atoms/Card.astro';
import About from '@components/astro/features/landingPage/About.astro';
import Project from '@components/astro/features/landingPage/Project.astro';
import Books from '@components/astro/features/landingPage/Books.astro';
import Experience from '@components/astro/features/landingPage/Experience.astro';
---

<BaseLayout>
	<section class="grid grid-cols-12 gap-3">
		<Card colSpan="col-span-9">
			<Hero />
		</Card>
		<Card colSpan="col-span-3">
			<About />
		</Card>
		<Card colSpan="col-span-5">
			<Project />
		</Card>
		<Card colSpan="col-span-4">
			<Experience />
		</Card>
		<Card colSpan="col-span-3">
			<Books />
		</Card>
	</section>
</BaseLayout>
