---
import Hero from './_Hero.astro';
import BaseLayout from '@components/templates/BaseLayout.astro';
import Project from './_Project.astro';
import Experience from './_Experience.astro';
import { Icon } from 'astro-icon/components';
---

<BaseLayout>
	<section id="hero" class="relative flex items-center">
		<div class="mainSection absolute -left-32 -top-56 -z-40 h-[880px] w-[880px] rounded-full"></div>
		<Hero />
	</section>
	<section id="experiences" class="relative rounded-2xl bg-[#14213D] px-12 py-8">
		<div class="absolute -left-10">
			<Icon name="supp" class="chevron chevron-supp-animation text-4xl" />
			<Icon name="inf" class="chevron chevron-inf-animation text-4xl" />
		</div>
		<Experience />
	</section>
	<section id="projects" class="relative rounded-2xl bg-[#14213D] px-12 py-8">
		<div class="absolute -left-10">
			<Icon name="supp" class="chevron chevron-supp-animation text-4xl" />
			<Icon name="inf" class="chevron chevron-inf-animation text-4xl" />
		</div>
		<Project />
	</section>
</BaseLayout>
