---
// JS
---

<header class="border-b-2">
  <div class="mx-auto flex justify-around w-full py-2">
    <h1 class="flex items-center text-2xl">
      <span class="hidden font-bold sm:block text-white">
        Rajanan GANESALINGAM</span
      >
      <span class="block font-bold sm:hidden">Rajanan G.</span>
    </h1>

    <div class="flex items-center">
      <a
        href="#presentation"
        class="text-white mr-4 font-bold border-b-2 border-transparent hover:border-white"
      >
        Accueil
      </a>
      <a
        href="#project"
        class="text-white mr-4 font-bold border-b-2 border-transparent hover:border-white"
      >
        Projet
      </a>
      <a
        href="#contact"
        class="text-white mr-4 font-bold border-b-2 border-transparent hover:border-white"
      >
        Contact
      </a>
    </div>
  </div>

  <div class="bg-gradient-to-b from-transparent via-transparent h-3 to-gray-50">
  </div>
</header>
