---
import { PROFILE } from '@content/PROFILE';

const skills = PROFILE.skills;
---

<h2 class="mb-3 font-satoshi text-3xl font-bold text-black">Compétences</h2>
<div class="gap flex flex-col gap-3">
	<div>
		<span class="font-semibold">
			{skills.frontEnd.label}:
		</span>
		<span class="text-sm text-gray-600">{skills.frontEnd.list.join(', ')}</span>
	</div>
	<div>
		<span class="font-semibold">
			{skills.backEnd.label}:
		</span>
		<span class="text-sm text-gray-600">{skills.backEnd.list.join(', ')}</span>
	</div>
	<div>
		<span class="font-semibold">
			{skills.tools.label}:
		</span>
		<span class="text-sm text-gray-600">{skills.tools.list.join(', ')}</span>
	</div>
</div>
