---
import { PROFILE } from '@content/PROFILE';

const skills = PROFILE.skills;
---

<div class="p-5 text-stone-900">
	<h2 class="text-3xl w-full font-bold mb-4">Compétence</h2>
	<p class="mb-1">Les techonlogie utilisé:</p>
	<ul class="list-disc list-inside">
		{skills.map((elemen) => <li>{elemen}</li>)}
	</ul>
</div>
