---
import { PROFILE } from '@content/PROFILE';

const skills = PROFILE.skills;
---

<div class="p-5 text-stone-900">
	<h2 class="text-3xl w-full font-bold mb-4 font-satoshi">Compétences</h2>
	<p class="mb-1">Les technologies utilisées:</p>
	<p>
		<span class="font-semibold">
			{skills.frontEnd.label}:
		</span>
		<span class="text-sm text-gray-600">{skills.frontEnd.list.join(', ')}</span>
	</p>
	<p>
		<span class="font-semibold">
			{skills.backEnd.label}:
		</span>
		<span class="text-sm text-gray-600">{skills.backEnd.list.join(', ')}</span>
	</p>
	<p>
		<span class="font-semibold">
			{skills.tools.label}:
		</span>
		<span class="text-sm text-gray-600">{skills.tools.list.join(', ')}</span>
	</p>
</div>
