<div class="relative p-5 space-y-20 text-stone-900 h-full">
	<div class="space-y-8">
		<h1 class="text-2xl md:text-6xl font-satoshi font-bold">Bonjour, je suis Rajanan</h1>
		<p class="text-xl md:text-3xl">
			Développeur Full-Stack à l'aise aussi bien en Front-End qu'en Back-End.
		</p>
	</div>

	<div class="flex flex-col items-center space-y-3 r md:space-y-0 md:justify-around md:flex-row">
		<a
			href="mailto:rajan.g@outlook.fr"
			class="w-48 p-5 font-bold mainButton text-center text-white transform react hover:duration-300 rounded-xl hover:ease-in-out"
			>Contactez moi</a
		>
		<a
			href="/cv-rajanan-ganesalingam-2024.pdf"
			download
			target="_blank"
			class="w-48 p-5 font-bold text-center text-[#1f43a6] border-2 border-[#1f43a6] rounded-xl text-sky radient-blue hover:ease-linear hover:duration-300 hover:border-[react] hover:text-white"
			>Télécharger CV</a
		>
	</div>
</div>
