---
import { getCollection, type CollectionEntry } from 'astro:content';
import ProjectCard from '@components/astro/molecules/ProjectCard/index.astro';

const allProjects: CollectionEntry<'project'>[] = await getCollection('project');
---

<div class="flex items-center justify-between">
	<h2 class="mb-3 font-satoshi text-3xl font-bold text-white">Projets</h2>
	<a href="/projets" class="text-xs text-white underline">Voir plus</a>
</div>
<ul class="gap flex flex-col gap-3">
	{
		allProjects.map((item) => {
			if (!item.data.hidden) {
				return (
					<li>
						<ProjectCard {...item.data} />
					</li>
				);
			}
		})
	}
</ul>
