---
import Link from '@components/atoms/Link.astro';
const nav = [
	{
		title: 'Expériences',
		href: '/experiences'
	},
	{
		title: 'Projets',
		href: '/projets'
	}
];
---

<header class="mb-5 bg-[#14213D]/80 text-white shadow-sm">
	<div class="container mx-auto flex max-w-3xl justify-between p-5">
		<h1 class="mb-2 font-bold md:mb-0"><a href="/">Rajanan.dev</a></h1>
		<nav class="flex text-base md:ml-auto">
			{nav.map((item) => <Link {...item} />)}
		</nav>
	</div>
</header>
