---
import BaseHead from '@components/astro/BaseHead.astro';
import Header from '@components/astro/Header.astro';
import Footer from '@components/astro/Footer.astro';

const { image, title, description = 'SITE_DESCRIPTION' } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr" data-theme="lofi">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<Header />
		<main class="container mx-auto px-4 max-w-6xl">
			<slot />
		</main>
		<Footer />
	</body>
</html>
