---
const { title, href } = Astro.props;
const underline = Astro.url.pathname.includes(href);
---

<a href={href} class=`mr-5 font-medium hover:underline ${underline ? 'underline' : ''}`>
	{title}
</a>
