---
import ProjectCard from '@components/molecules/ProjectCard.astro';
import { SITE_PROJECTS_DESCRIPTION, SITE_TITLE_PROJECTS } from '../../constants';
import { getCollection, type CollectionEntry } from 'astro:content';
import MainLayout from '@components/templates/MainLayout.astro';
import CardSection from '@components/organisms/CardSection.astro';

const allProjects: CollectionEntry<'project'>[] = await getCollection('project');
---

<MainLayout title={SITE_TITLE_PROJECTS} description={SITE_PROJECTS_DESCRIPTION}>
	<CardSection title="Projets">
		<ul class="gap flex flex-row gap-8">
			{
				allProjects.map((item) => (
					<li>
						<ProjectCard {...item.data} />
					</li>
				))
			}
		</ul>
	</CardSection>
</MainLayout>
