---
import ProjectCard from '@components/astro/molecules/ProjectCard/index.astro';
import { SITE_PROJECTS_DESCRIPTION, SITE_TITLE_PROJECTS } from '@constants/consts';
import { getCollection, type CollectionEntry } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';
import XpLayout from '@layouts/XpLayout.astro';

const allProjects: CollectionEntry<'project'>[] = await getCollection('project');
---

<MainLayout title={SITE_TITLE_PROJECTS} description={SITE_PROJECTS_DESCRIPTION}>
	<XpLayout title="Projets">
		<ul class="gap flex flex-row gap-8">
			{
				allProjects.map((item) => (
					<li>
						<ProjectCard {...item.data} />
					</li>
				))
			}
		</ul>
	</XpLayout>
</MainLayout>
